html {
    font-size: 10px;
    background-image: url('./background.jpg');
    background-position:bottom center;
    background-size: cover;
}
  body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.keys {
    display:flex;
    flex:0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: solid black;
    border-radius: 1rem;
    margin:1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 1s ease;
    width: 10rem;
    text-align: center;
    color:white;
    background:black;
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(2);
    border-color: coral;
    box-shadow: 0 0 1rem coral;
}

kbd {
    display:block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:coral;
}